<!--
<div class="banner-information-without-action govuk-!-margin-bottom-5 govuk-!-margin-top-0">
    <h3 class="govuk-heading-s">You do not need to sign in or create an account to save your assessment. You can complete it later and look at your results again at any time by getting a unique reference code.</h3>
</div>
-->
<div class="govuk-inset-text govuk-!-margin-top-0"> You do not need to sign in or create an account to save your assessment. You can complete it later and look at your results again at any time by getting a unique reference code. </div>