{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Discover your skills and careers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="app-breadcrumb-panel">
	<a href="/" class="govuk-back-link">Back to start</a>
</div>
</div>

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-width-container  govuk-!-padding-top-0">
<form action="dysac-assessment-03" method="post" wiid="C290">

            <input type="hidden" name="sessionId" value="session3-rky3zxx275w36x" wiid="C291">
            <input type="hidden" name="questionId" value="short-201901-2-11" wiid="C292">

            <div class="govuk-grid-row app-question-progress" wiid="C293">
                <div class="govuk-grid-column-two-thirds-from-desktop" wiid="C294">

                    <div class="ncs-progress" wiid="C295">
                        <span class="ncs-progress__count govuk-body" wiid="C296"><b class="govuk-!-font-size-36" wiid="C297">25%</b> <b class="visually-hidden" wiid="C298">Complete</b></span>
                        <div class="ncs-progress__bar" wiid="C299"><span style="width: 25%" wiid="C300"></span></div>
                    </div>

                </div>
                <div class="govuk-grid-column-one-third-from-desktop" wiid="C301">
                    
                    <div class="app-sidebar app-save-panel app-save-panel--alt" wiid="C302">
    <h3 class="govuk-heading-m" wiid="C303">Return to this later</h3>
    <p class="govuk-body" wiid="C304"><a href="/save-my-progress" class="govuk-link govuk-link--no-visited-state" wiid="C305">Save my progress</a></p>
</div>
                </div>
            </div>


            <div class="govuk-form-group " wiid="C306">
                <div class="govuk-fieldset app-question app-question--short" id="question" role="group" aria-labelledby="question-heading" wiid="C307">

                    <div class="govuk-fieldset__legend govuk-fieldset__legend--l app-question__question" wiid="C308">
                        <h1 class="govuk-fieldset__heading" id="question-heading" wiid="C309">
                            I am comfortable talking people around to my way of thinking
                        </h1>
                    </div>

                    <div class="app-question__answer govuk-radios govuk-radios--inline" wiid="C310">

                        <div class="govuk-radios__item" wiid="C311">
                            <input class="govuk-radios__input" id="selected_answer-1" name="selected_answer" type="radio" value="StronglyAgree" gov-analytics-data="SelectedAnswer | StronglyAgree" wiid="C312">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-1" wiid="C313">
                                Strongly agree
                            </label>
                        </div>

                        <div class="govuk-radios__item" wiid="C314">
                            <input class="govuk-radios__input" id="selected_answer-2" name="selected_answer" type="radio" value="Agree" gov-analytics-data="SelectedAnswer | Agree" wiid="C315">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-2" wiid="C316">
                                Agree
                            </label>
                        </div>

                        <div class="govuk-radios__item" wiid="C317">
                            <input class="govuk-radios__input" id="selected_answer-5" name="selected_answer" type="radio" value="Neutral" gov-analytics-data="SelectedAnswer | Neutral" wiid="C318">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-5" wiid="C319">
                                It depends
                            </label>
                        </div>


                        <div class="govuk-radios__item" wiid="C320">
                            <input class="govuk-radios__input" id="selected_answer-3" name="selected_answer" type="radio" value="Disagree" gov-analytics-data="SelectedAnswer | Disagree" wiid="C321">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-3" wiid="C322">
                                Disagree
                            </label>
                        </div>

                        <div class="govuk-radios__item" wiid="C323">
                            <input class="govuk-radios__input" id="selected_answer-4" name="selected_answer" type="radio" value="StronglyDisagree" gov-analytics-data="SelectedAnswer | StronglyDisagree" wiid="C324">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-4" wiid="C325">
                                Strongly disagree
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="app-controls" wiid="C326">

                
  
    
  

<button type="submit" class="govuk-button app-button btn-next-question" wiid="C327">
  Next
</button>


            </div>

            
            <div class="app-sidebar app-save-panel app-save-panel--alt-mobile" wiid="C328">
    <h3 class="govuk-heading-m" wiid="C329">Return to this later</h3>
    <p class="govuk-body" wiid="C330"><a href="/save-my-progress" class="govuk-link govuk-link--no-visited-state" wiid="C331">Save my progress</a></p>
</div>

        </form>    </div>
</div>
{% endblock %} 