{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Discover your skills and careers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="app-breadcrumb-panel">
	<a href="/" class="govuk-back-link">Back to start</a>
</div>
</div>

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-width-container  govuk-!-padding-top-0">
<form action="finish-additional" method="post" wiid="C290">

            <input type="hidden" name="sessionId" value="session3-rky3zxx275w36x" wiid="C291">
            <input type="hidden" name="questionId" value="short-201901-2-31" wiid="C292">

            

                
  <div class="govuk-grid-row" wiid="C278">
                <div class="govuk-grid-column-two-thirds-from-desktop" wiid="C279">


                    <div class="govuk-form-group " wiid="C280">

                        <fieldset class="govuk-fieldset app-question app-question--long" wiid="C281">

                            <legend class="visually-hidden" wiid="C282">Are you able to control your emotions even in difficult situations?</legend>

                            <div class="govuk-fieldset__legend--l app-question__question" wiid="C283">
                                <h1 class="govuk-fieldset__heading" aria-hidden="true" wiid="C284">
                                    Are you comfortable talking through things with other people so that they understand?
                                </h1>
                            </div>


                            <div class="app-question__answer govuk-radios govuk-radios--inline" id="question" wiid="C285">

                                <div class="govuk-radios__item" wiid="C286">
                                    <input class="govuk-radios__input" id="selected_answer-1" name="selected_answer" type="radio" value="Yes" gov-analytics-data="SelectedAnswer | Yes" wiid="C287">
                                    <label class="govuk-label govuk-radios__label" for="selected_answer-1" wiid="C288">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__item" wiid="C289">
                                    <input class="govuk-radios__input" id="selected_answer-2" name="selected_answer" type="radio" value="No" gov-analytics-data="SelectedAnswer | No" wiid="C290">
                                    <label class="govuk-label govuk-radios__label" for="selected_answer-2" wiid="C291">
                                        No
                                    </label>
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <div class="app-controls app-controls--left" wiid="C292">

                        
  
    
  

<button type="submit" class="govuk-button app-button btn-next-question" wiid="C293">
  Next
</button>


                    </div>

                    
                    <div class="app-sidebar app-save-panel app-save-panel--alt-mobile" wiid="C294">
    <h3 class="govuk-heading-m" wiid="C295">Return to this later</h3>
    <p class="govuk-body" wiid="C296"><a href="/save-my-progress" class="govuk-link govuk-link--no-visited-state" wiid="C297">Save my progress</a></p>
</div>

                </div>

                <div class="govuk-grid-column-one-third-from-desktop" wiid="C298">
                    
                    <div class="app-sidebar app-save-panel app-save-panel--alt" wiid="C299">
    <h3 class="govuk-heading-m" wiid="C300">Return to this later</h3>
    <p class="govuk-body" wiid="C301"><a href="/save-my-progress" class="govuk-link govuk-link--no-visited-state" wiid="C302">Save my progress</a></p>
</div>
                </div>

            </div>
    



            </div>

            
           
</div>

        </form>    </div>
</div>
{% endblock %} 