{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Skills assessment
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Skills assessment</h1>
        <p class="govuk-body-lead">Find out about careers that might be right for you by taking one of our assessments</p>
      </div>
      <div class="govuk-grid-column-one-third"> </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div id="MainContent_TA2BB01DC001_Col00" class="sf_colsIn govuk-grid-column-two-thirds" data-sf-element="Container" data-placeholder-label="Content container">
          <div>
            <div class="sfContentBlock sf-Long-text">
              <form action="#" method="post">
          <div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading"> Pick the skills assessment you want to do </h1>
                </legend>
				  <p class="govuk-body">Select the option that most applies to you from the list. </p>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="SelectedOption-1" name="SelectedOption" type="radio" value="good-at">
                    <label class="govuk-label govuk-radios__label" for="SelectedOption-1">Discover your skills and careers </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="SelectedOption-2" name="SelectedOption" type="radio" value="skiils-and-preferences">
                    <label class="govuk-label govuk-radios__label" for="SelectedOption-2">Explore your personal skills and motivations </label>
                  </div>
				  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="SelectedOption-3" name="SelectedOption" type="radio" value="work-suited">
                    <label class="govuk-label govuk-radios__label" for="SelectedOption-3">Discover what tasks and activities you're good at </label>
                  </div>
				<div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="SelectedOption-4" name="SelectedOption" type="radio" value="activities">
                    <label class="govuk-label govuk-radios__label" for="SelectedOption-4">Find out what kind of work you are suited to </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <button type="submit" class="govuk-button"> Continue </button>
        </form>
            </div>
          </div>
        </div>
        <div id="MainContent_TA2BB01DC001_Col01" class="sf_colsIn govuk-grid-column-one-third" data-sf-element="Container" data-placeholder-label="Content container" >
          <div >
            <div class="sfContentBlock sf-Long-text">
              <div class="app-related-items">
                <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
                <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
                <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %} 