{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Discover your skills and careers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="app-breadcrumb-panel"> <a href="/" class="govuk-back-link">Back to start</a> </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-width-container  govuk-!-padding-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" wiid="C276">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6" wiid="C277">
          <h1 class="govuk-panel__title" wiid="C285"> Assessment complete </h1>
        </div>
        <h2 class="govuk-heading-m" wiid="C286">What to do next</h2>
        <p class="govuk-body govuk-!-margin-bottom-5" wiid="C287">See the types of jobs that might suit you. Your results are based on your responses.</p>
        <a href="your-results" role="button" draggable="false" class="govuk-button app-button" wiid="C288"> See results </a> </div>
    </div>
  </div>
</div>
{% endblock %} 