{% extends "layout_ncs_new.html" %}

{% block pageTitle %}
National Careers Service
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
</div>
<header class="PROD_hero">
  <div class="PROD_full-page-width-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Prototypes and mockups</h1>
        <p class="govuk-body-m">The mockups linked below are for test purposes.</p>
        <p class="govuk-body-m">They should not be recreated into production code unless the design has been validated by user research and stakeholders.</p>
      </div>
    </div>
  </div>
</header>
<div class="govuk-width-container">
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-18">Skills assessment - V.2 </span> </h2>
          </div>
          <div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint43/skills-assessment/DYSAC/your-results-accordion">DYSAC Results option 1 - Accordion</a></li>
				 <li><a class="govuk-link" href="/sprint43/skills-assessment/DYSAC/your-results">DYSAC Results option 2</a></li>
            </ul>
          </div>
			
        </div>
		 <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading"> <span class="govuk-accordion__section-button" id="accordion-default-heading-18">Skills assessment - V.1 </span> </h2>
          </div>
          <div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint41/homepage-opt1">DYSAC Results option 1</a></li>
				
            </ul>
          </div>
			<div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint41/homepage-opt2">DYSAC Option 1 B</a></li>
            </ul>
          </div>
			<div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint41/homepage-opt3">DYSAC Option 1 C</a></li>
            </ul>
          </div>
			<div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint41/homepage-opt1a">DYSAC option 2</a></li>
            </ul>
          </div>
			<div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
            <ul class="govuk-list">
              <li><a class="govuk-link" href="sprint41/skills-assessment/skills-health-check/homepage-completed">Skills health check - Completed assessments</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main>
{% endblock %} 