{% extends "layout_ncs_new.html" %}

{% block header %}

{% endblock %}

{% block pageTitle %}
Discover your skills and careers
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<div class="app-breadcrumb-panel">
	<a href="/" class="govuk-back-link">Back to start</a>
</div>
</div>

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-width-container  govuk-!-padding-top-0">
        <form action="dysac-assessment-02" method="post">

            <input type="hidden" name="sessionId" value="session3-rky3zxx275w36x" wiid="C276">
            <input type="hidden" name="questionId" value="short-201901-2-1" wiid="C277">

            <div class="govuk-grid-row app-question-progress" wiid="C278">
                <div class="govuk-grid-column-two-thirds-from-desktop" wiid="C279">

                    <div class="ncs-progress" wiid="C280">
                        <span class="ncs-progress__count govuk-body" wiid="C281"><b class="govuk-!-font-size-36" wiid="C282">0%</b> <b class="visually-hidden" wiid="C283">Complete</b></span>
                        <div class="ncs-progress__bar" wiid="C284"><span style="width: 0%" wiid="C285"></span></div>
                    </div>

                </div>
                <div class="govuk-grid-column-one-third-from-desktop" wiid="C286">
                    
                    <div class="app-sidebar app-save-panel app-save-panel--alt" wiid="C287">
    <h3 class="govuk-heading-m" wiid="C288">Return to this later</h3>
    <p class="govuk-body" wiid="C289"><a href="/save-my-progress" class="govuk-link govuk-link--no-visited-state" wiid="C290">Save my progress</a></p>
</div>
                </div>
            </div>


            <div class="govuk-form-group " wiid="C291">
                <div class="govuk-fieldset app-question app-question--short" id="question" role="group" aria-labelledby="question-heading" wiid="C292">

                    <div class="govuk-fieldset__legend govuk-fieldset__legend--l app-question__question" wiid="C293">
                        <h1 class="govuk-fieldset__heading" id="question-heading" wiid="C294">
                            I am comfortable telling people what they need to do
                        </h1>
                    </div>

                    <div class="app-question__answer govuk-radios govuk-radios--inline" wiid="C295">

                        <div class="govuk-radios__item" wiid="C296">
                            <input class="govuk-radios__input" id="selected_answer-1" name="selected_answer" type="radio" value="StronglyAgree" gov-analytics-data="SelectedAnswer | StronglyAgree" wiid="C297">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-1" wiid="C298">
                                Strongly agree
                            </label>
                        </div>

                        <div class="govuk-radios__item" wiid="C299">
                            <input class="govuk-radios__input" id="selected_answer-2" name="selected_answer" type="radio" value="Agree" gov-analytics-data="SelectedAnswer | Agree" wiid="C300">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-2" wiid="C301">
                                Agree
                            </label>
                        </div>

                        <div class="govuk-radios__item" wiid="C302">
                            <input class="govuk-radios__input" id="selected_answer-5" name="selected_answer" type="radio" value="Neutral" gov-analytics-data="SelectedAnswer | Neutral" wiid="C303">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-5" wiid="C304">
                                It depends
                            </label>
                        </div>


                        <div class="govuk-radios__item" wiid="C305">
                            <input class="govuk-radios__input" id="selected_answer-3" name="selected_answer" type="radio" value="Disagree" gov-analytics-data="SelectedAnswer | Disagree" wiid="C306">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-3" wiid="C307">
                                Disagree
                            </label>
                        </div>

                        <div class="govuk-radios__item" wiid="C308">
                            <input class="govuk-radios__input" id="selected_answer-4" name="selected_answer" type="radio" value="StronglyDisagree" gov-analytics-data="SelectedAnswer | StronglyDisagree" wiid="C309">
                            <label class="govuk-label govuk-radios__label" for="selected_answer-4" wiid="C310">
                                Strongly disagree
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="app-controls" wiid="C311">

                
  
    
  

<button type="submit" class="govuk-button app-button btn-next-question" wiid="C312">
  Next
</button>


            </div>

            
            

        </form>
    </div>
</div>
{% endblock %} 